.DS_Store
*.test
*.dd
*.o
*.a
*~
\#*\#
a.out
.#*
porter
unified_regressor
regressor
lsa_regr
bigram
bigram.prj
bigram_regr
anes_reply_encoder
text_src
tokens.txt
results
tagged
test_in
test_out
testaic
seq_regression